.dashboard {
  display: flex;
  height: 100vh;
  overflow: hidden;
  min-width: 100px;
  max-width: 1355px;
  background-color: #f4f3ec;
}

.sidebar {
  width: 12rem;
  background-color: #11191f;
  padding: 1rem;
  flex-shrink: 0;
  display: none;
  transition: 0.4s ease;
}
.sidebar.open {
  display: block;
}
.menu-icon {
  border: none;
  color: #fff;
  background-color: #11191f;
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  font-size: 1.2rem;
  position: relative;

  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.navbar-admin {
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: #fff;
  gap: 1rem;
}
.content {
  padding: 1.5rem;
  background-color: #fff;
  flex: 1;
  overflow-y: auto;
  border-radius: 10px;
}
